{
    "parent" :
    {
        "full_reference_name": "{{ T | full_reference_name }}",
        "short_reference_name": "{{ T | short_reference_name }}"
    },
    "request" :
    {
        "full_reference_name": "{{ T.request_type | full_reference_name }}",
        "short_reference_name": "{{ T.request_type | short_reference_name }}"
    },
    "response" :
    {
        "full_reference_name": "{{ T.response_type | full_reference_name }}",
        "short_reference_name": "{{ T.response_type | short_reference_name }}"
    }
}
