{%- macro suka() -%}
{{ 'f'|to_template_unique_name }}
{{ 'f'|to_template_unique_name }}
{{ 'f'|to_template_unique_name }}
{{ 'f'|to_template_unique_name }}
{%- endmacro -%}

{{ 'f'|to_template_unique_name }}
{{ 'f'|to_template_unique_name }}
{{ 'f'|to_template_unique_name }}
{{ 'f'|to_template_unique_name }}

{{ suka() }}

{{ suka() }}
