[submodule "submodules/googletest"]
	path = submodules/googletest
	url = https://github.com/google/googletest.git
[submodule "submodules/public_regulated_data_types"]
	path = submodules/public_regulated_data_types
	url = https://github.com/UAVCAN/public_regulated_data_types.git
[submodule "submodules/unity"]
	path = submodules/unity
	url = https://github.com/ThrowTheSwitch/Unity.git
[submodule "submodules/o1heap"]
	path = submodules/o1heap
	url = https://github.com/pavel-kirienko/o1heap.git
