# Build outputs
*.o
*.d
lib*.so
lib*.so.*
*.a
build/
build_*/
.dep
__pycache__
*.pyc
.mypy*
.pytest_cache
*.egg-info
*.patch
.tox*
.nox
.coverage*
htmlcov
*,cover
.venv
coverage.xml
.out*
.docker*
.pyenv
_build
.env*
dist
.clear*
.DS_Store
prof
out
venv*
*.bkp

# Eclipse
.metadata
.settings
.project
.cproject
.pydevproject
.gdbinit

# vagrant
.vagrant

#  DSDL compiler default output directory
nunavut_out

# Log files
*.log

# Sonarqube
.scannerwork

.hypothesis

.ropeproject
