{#-
 # Copyright (C) 2021  UAVCAN Development Team  <uavcan.org>
 # This software is distributed under the terms of the MIT License.
 # Authors: David Lenfesty
-#}

{% extends "base.j2" %}

{% block contents %}
{#- TODO delimitedType has no name #}
#[derive(Copy, Clone, Debug)]
pub struct {{ T | short_reference_name }} {
{%- for f, offset in T.iterate_fields_with_offsets() %}
    {% if f is PrimitiveType or f is CompositeType -%}
    pub {{ f.name }}: {{ f.data_type | qualified_type }},
    {%- elif f is ArrayType -%}
    pub {{ f.name }}: [{{ f.data_type.element_type | qualified_type }}; {{ f.data_type.capacity }}],
    {%- endif %}
{%- endfor %}
}
{% endblock %}
