{% extends "base.j2" %}

{% block contents %}
{#- TODO delimitedType has no name #}
pub enum {{ T | short_reference_name }} {
{%- for f, offset in T.iterate_fields_with_offsets() %}
    {{ f.name }}({{ f.data_type | qualified_type }}),
{%- endfor %}
}
{% endblock %}
