{% extends "base.j2" %}

{% block contents %}
{#- TODO delimitedType has no name #}
pub enum {{ T | short_reference_name }} {
{%- for f, offset in T.iterate_fields_with_offsets() %}
    {% if f is PrimitiveType -%}
    {{ f.name }}({{ f.data_type | type_from_primitive }}),
    {%- elif f is CompositeType -%}
    {{ f.name }}({{ f.data_type | full_reference_name }}),
    {%- endif %}
{%- endfor %}
}
{% endblock %}
