{#-
 # Copyright (c) 2024 OpenCyphal
 # This software is distributed under the terms of the MIT License.
 # Author: Erik Rainey <erik.rainey@gmail.com>
-#}

{#- This is the top level file which is imported by Cyphal/UDP or Cyphal/CAN to pull in all required types. -#}

{# for each registered message w/ a defined port id #}
{%- for type in messages -%}
{%- if type.doc %}
--[[
{{ type.doc }}
]]--
{%- end %}
local {{type | full_reference_name }} = require('{{type | string_reference_name}}')
{%- end -%}
{# for each registered service w/ a defined port id #}
{%- for type in services -%}
{%- if type.doc %}
--[[
{{ type.doc }}
]]--
{%- end %}
local {{type | full_reference_name }} = require('{{type | string_reference_name}}')
{%- end -%}

function register_cyphal_types(cyphal_proto)
    {%- for type in messages -%}
    {{type | full_reference_name }}.register(cyphal_proto)
    {%- end -%}
end

function decode_cyphal_messages(payload, pinfo, payload_tree, subject_id)
    -- for each message w/ a registered port id, add a condition to check for it's subject ID and call it's dissector
    {% set first = True %}
    {%- for type in messages -%}
    {%- if first -%}
    if subject_id == {{type | full_reference_name }}.subject_id then
    {%- end -%}
    elseif subject_id == {{type | full_reference_name }}.subject_id then
    {%- end -%}
        {{type | full_reference_name }}.decode(payload, pinfo, payload_tree)
    {%- end -%}
    end
    {%- end -%}
    {%- end -%}
end

function decode_cyphal_services(payload, pinfo, payload_tree, request_not_response, service_id)
    -- for each message w/ a registered port id, add a condition to check for it's service ID and call it's dissector
    {% set first = True %}
    {%- for type in services -%}
    {%- if first -%}
    {%- set first = False %}
    if service_id == {{type | full_reference_name }}.service_id then
    {%- end -%}
    elseif service_id == {{type | full_reference_name }}.service_id then
    {%- end -%}
        {{type | full_reference_name }}.decode(payload, pinfo, payload_tree)
    {%- end -%}
    end
    {%- end -%}
    {%- end -%}
end

-- Return the types and the decoders
return {
    register_cyphal_types = register_cyphal_types,
    decode_messages = decode_cyphal_messages,
    decode_services = decode_cyphal_services
}
