{#-
 # Copyright (c) 2024 OpenCyphal
 # This software is distributed under the terms of the MIT License.
 # Author: Erik Rainey <erik.rainey@gmail.com>
-#}

-- This came from the StructureType template

{% extends "base.j2" %}
{% block contents %}

{{ data_schema(T|short_reference_name, T) }}

{% endblock %}
