{% extends "c_header.j2" %}
{% block object %}

typedef union {{ T.full_name | replace('.', '_') }}Type {
{% for field in T.attributes %}
  // {{ field }}
{% endfor %}
} {{ T.full_name | replace('.', '_') }};

{% endblock %}
  {#--------------------------------------------------------------------------+
  | REQUIRED - This section contains all template inputs that are required
  | for a valid C++ type to be generated. Assertion failures within this
  | section should cause template expansion to fail and prevent invalid 
  | source from being generated.
  +--------------------------------------------------------------------------#}
{% assert T.short_name %}
