{% extends "c_header.j2" %}
{% block object %}

typedef union {{ T.full_name | replace('.', '_') }}Type {
{% for field in T.attributes %}
  // {{ field }}
{% endfor %}
} {{ T.full_name | replace('.', '_') }};

{% endblock %}
