{% extends "c_header.j2" %}
{% block object %}

typedef union {{ T.full_name | replace('.', '_') }}Type {
{% for attribute in T.attributes %}
  // {{ attribute }}
{% endfor %}
} {{ T.full_name | replace('.', '_') }};

{% endblock %}
