    
    {{ composite_type.tag_field_type | declaration }} _tag_;
    union {
{%- for field in composite_type.fields -%}
{%- if field is not padding %}
        {{ field.data_type | declaration }} {{ field.name | id }};
{%- endif -%}
{%- endfor %}
    };