{%- macro init_field(field, data_type=None, ref='out_instance->') -%}
    {%- if field is None -%}
        {%- set _data_type = data_type -%}
        {%- set _out = ref -%}
    {%- else -%}
        {%- set _data_type = field.data_type -%}
        {%- set _out = ref + (field | id) -%}
    {%- endif -%}

    {%- if field is not padding or field is None -%}
    {%- if _data_type is CompositeType -%}
        {{ _data_type | declaration }}_init(&({{ _out }}));
    {%- elif _data_type is FixedLengthArrayType -%}
        {%- if _data_type.element_type is PrimitiveType -%}
        memset(&({{ _out }}[0]), 0, sizeof({{ _data_type | declaration }}) * {{ field.data_type.capacity }});
        {%- else -%}
             {%- for index in range(_data_type.capacity) -%}
                {{ init_field(None, _data_type.element_type, '{}[{}]'.format(ref, index)) }}
             {%- endfor %}
        {%- endif -%}
    {%- elif _data_type is VariableLengthArrayType -%}
        {{ _out }}_length = 0;
    {%- else -%}
        {{ _out }} = 0;
    {%- endif -%}
    {%- else -%}
        /* Ignoring {{ _data_type.bit_length }} padding bit(s). */
    {%- endif -%}
{%- endmacro -%}
