/// Serialization of {{ composite_type | full_reference_name }} instance into a byte array.
///
/// @param in_instance   A structure instance to serialize.
/// @param offset        Offset (in bits) of data type in message.
/// @param out_buffer    Output message buffer.
///
/// @returns             Size of encoded data (in bits)
static inline {{typename_signed_bit_length}} {{ composite_type | full_reference_name }}_serialize(const {{ composite_type | full_reference_name }}* in_instance, {{typename_unsigned_bit_length}} offset, uint8_t* const out_buffer)
{
{%- if (composite_type.fields | length) > 0 %}
    {#- Do not declare rc if we do not use it. Avoids compiler warnings -#}
    {%- from '_utils.j2' import gen_rc -%}
    {{ gen_rc(composite_type) }}

    if (out_buffer == NULL)
    {
        return -NUNAVUT_ERR_INVALID_BUF;
    }

    {%- from '_serialize.j2' import serialize %}
    {{ serialize(composite_type) }}
{%- else %}
    (void)in_instance;
    (void)out_buffer;
{%- endif %}

    return ({{typename_signed_bit_length}})offset;
}

/// Deserialization of byte-array encoding into {{ composite_type | full_reference_name }} instance.
///
/// @param out_instance      Structure instance to write data to.
/// @param offset            Bit offset of structure in data buffer.
/// @param in_buffer         Message buffer to deserialize.
/// @param buf_size_bytes    Length of input buffer (in bytes) to avoid overflow.
///
/// @returns                 Size of decoded data (in bits)
static inline {{typename_signed_bit_length}} {{ composite_type | full_reference_name }}_deserialize({{ composite_type | full_reference_name }}* const out_instance, {{typename_unsigned_bit_length}} offset, uint8_t* const in_buffer, const {{typename_unsigned_length}} buf_size_bytes)
{
{%- if (composite_type.fields | length) > 0 %}
    {#- Do not declare rc if we do not use it. Avoids compiler warnings -#}
    {%- from '_utils.j2' import gen_rc -%}
    {{ gen_rc(composite_type) }}

    if (in_buffer == NULL)
    {
        return -NUNAVUT_ERR_INVALID_BUF;
    }

    {%- from '_deserialize.j2' import deserialize %}
    {{ deserialize(composite_type) }}
{%- else %}
    (void)out_instance;
    (void)in_buffer;
    (void)buf_size_bytes;
{%- endif %}

    return ({{typename_signed_bit_length}})offset;
}
