{%- macro gen_rc(type) -%}
    {%- set ns = namespace(rc=false) -%}
    {%- for field in type.fields -%}
        {%- if field.data_type is CompositeType -%}
            {%- set ns.rc = true -%}
        {%- elif field.data_type is ArrayType -%}
            {%- if field.data_type.element_type is CompositeType -%}
                {%- set ns.rc = true -%}
            {%- endif -%}
        {%- endif -%}
    {%- endfor -%}
    {%- if ns.rc %}
    {{typename_unsigned_bit_length}} size_bits;
    {{typename_error_type}} rc = 0;
    {%- endif -%}
{%- endmacro -%}
