
{ 
    "{{T.full_name}}": {
        "namespace": "{{ T.full_namespace }}",
        "fields": [
{%- for field in T.attributes %}
            { "type": "{{ field.data_type }}" }
{%- if not loop.last %},{% endif %}
{%- endfor %}
        ]
    }
}