{#-
 # Copyright (C) OpenCyphal Development Team  <opencyphal.org>
 # Copyright Amazon.com Inc. or its affiliates.
 # SPDX-License-Identifier: MIT
-#}
{%- from '_definitions.j2' import assert -%}
{%- ifuses "std_variant" %}
// +-------------------------------------------------------------------------------------------------------------------+
// | This implementation uses the C++17 standard library variant type with wrappers for the emplace and
// | get_if methods to support backwards-compatibility with the C++14 version of this object. The union_value type
// | extends std::variant and can be used with the entire set of variant methods. Using std::variant directly does mean
// | your code will not be backwards compatible with the C++14 version of this object.
// +-------------------------------------------------------------------------------------------------------------------+
{% else %}
{%- ifuses "cetl" %}
// +-------------------------------------------------------------------------------------------------------------------+
// | This implementation uses the CETL library C++17 polyfill variant type with wrappers for the emplace and
// | get_if methods to support backwards-compatibility with the C++14 version of this object. The union_value type
// | extends cetl::pf17::variant and can be used with the entire set of variant methods. Using cetl::pf17::variant
// | directly does mean your code will not be backwards compatible with the C++14 version of this object.
// +-------------------------------------------------------------------------------------------------------------------+
{% else %}
// +-------------------------------------------------------------------------------------------------------------------+
// | This implementation uses a minimal variant implementation that is forward-compatible with the same types generated
// | using the C++17 variant type in the standard library. This minimal variant implementation is limited in the
// | following ways:
// |    1. Supports only emplace and get_if.
// |    2. Only support access by index (see the IndexOf property of the VariantType).
// |    3. This object cannot be copy-constructed nor move-constructed.
// |    4. There is an O(n) lookup in this object's destructor and in the
// |       emplace method.
// |
// | The C++17 version of this object will define the same emplace and get_if wrappers so code written against this
// | version will be fully-forward compatible, but the C++17 version exposes the variant type directly allowing full
// | use of that standard library feature – it is therefore not backwards-compatible.
// +-------------------------------------------------------------------------------------------------------------------+
{% endifuses -%}
{% endifuses -%}
{{ composite_type.doc | block_comment('cpp-doxygen', 0, 120) }}
struct {% if composite_type.deprecated -%}
[[deprecated("{{ composite_type }} is reaching the end of its life; there may be a newer version available")]]
{%- endif -%}
{{composite_type|short_reference_name}} final
{
{%- if options.ctor_convention != ConstructorConvention.DEFAULT %}
    using allocator_type = {{ options.allocator_type }}<void>;
{%- endif %}

    struct _traits_  // The name is surrounded with underscores to avoid collisions with DSDL attributes.
    {
        _traits_() = delete;
{%- if T.has_fixed_port_id %}
        static constexpr bool HasFixedPortID = true;
        static constexpr {{ typename_unsigned_port }} FixedPortId = {{ T.fixed_port_id }}U;
{%- else %}
        /// This type does not have a fixed port-ID. See https://forum.opencyphal.org/t/choosing-message-and-service-ids/889
        static constexpr bool HasFixedPortID = false;
{% endif -%}
{%- if T is ServiceType %}
        static constexpr bool IsServiceType  = true;
        static constexpr bool IsService      = false;
        static constexpr bool IsRequest      = {{ (composite_type == T.request_type) | string | lower }};
        static constexpr bool IsResponse     = {{ (composite_type == T.response_type) | string | lower }};
{% else %}
        static constexpr bool IsServiceType = false;
{% endif %}
        static constexpr const char* FullNameAndVersion() { return "{{ composite_type }}"; }
    {%  assert composite_type.extent % 8 == 0 %}
    {%- assert composite_type.inner_type.extent % 8 == 0 %}
        /// Extent is the minimum amount of memory required to hold any serialized representation of any compatible
        /// version of the data type; or, on other words, it is the the maximum possible size of received objects of this type.
        /// The size is specified in bytes (rather than bits) because by definition, extent is an integer number of bytes long.
        /// When allocating a deserialization (RX) buffer for this data type, it should be at least extent bytes large.
        /// When allocating a serialization (TX) buffer, it is safe to use the size of the largest serialized representation
        /// instead of the extent because it provides a tighter bound of the object size; it is safe because the concrete type
        /// is always known during serialization (unlike deserialization). If not sure, use extent everywhere.
        static constexpr {{ typename_unsigned_length }} ExtentBytes                  = {# -#}
            {{ composite_type.extent // 8 }}UL;
        static constexpr {{ typename_unsigned_length }} SerializationBufferSizeBytes = {# -#}
            {{ composite_type.inner_type.extent // 8 }}UL;
        static_assert(ExtentBytes >= SerializationBufferSizeBytes, "Internal constraint violation");
        static_assert({# -#}
            ExtentBytes < (std::numeric_limits<{{ typename_unsigned_bit_length }}>::max() / 8U), {# -#}
            "This message is too large to be handled by the selected types");
{%- for field in composite_type.fields_except_padding %}
    {%- if loop.first %}
        struct TypeOf
        {
            TypeOf() = delete;
    {%- endif %}
            using {{field.name|id}} = {{ field.data_type | declaration }};
    {%- if loop.last %}
        };
    {%- endif %}
{%- endfor %}
{%- for field in composite_type.fields_except_padding if field.data_type is ArrayType %}
    {%- if loop.first %}
        struct ArrayCapacity
        {
            ArrayCapacity() = delete;
    {%- endif %}
            static constexpr std::size_t {{field.name|id}} = {{ field.data_type.capacity }}UL;
    {%- if loop.last %}
        };
    {%- endif %}
{%- endfor %}
    };
{% if options.ctor_convention != ConstructorConvention.DEFAULT %}
    {%- if options.allocator_is_default_constructible or composite_type.bit_length_set.fixed_length %}
    // Default constructor
    {%- if composite_type.inner_type is UnionType %}
    {{composite_type|short_reference_name}}() = default;
    {%- else %}
    {{composite_type|short_reference_name}}()
    {%- for field in composite_type.fields_except_padding %}
        {%if loop.first %}: {%else%}, {%endif-%}
        {{ field | id }}{{ field.data_type | default_value_initializer }}
    {%- endfor %}
    {
    }
    {%- endif %}
    {%- endif %}

    // Allocator constructor
    explicit {{composite_type|short_reference_name}}(const allocator_type& allocator)
    {%- if composite_type.inner_type is UnionType %}
        : union_value{}
        {%- if not composite_type.bit_length_set.fixed_length %}
        , allocator_{allocator.select_on_container_copy_construction()}
        {%- endif %}
    {%- else %}
    {%- for field in composite_type.fields_except_padding %}
        {%if loop.first %}: {%else%}, {%endif-%}
        {{ field | id }}{{ field | value_initializer(SpecialMethod.ALLOCATOR_CONSTRUCTOR) }}
    {%- endfor %}
    {%- endif %}
    {
        static_cast<void>(allocator); // avoid unused param warning
    }

    {%- if composite_type.inner_type is not UnionType %}
    {% if composite_type.fields_except_padding %}
    // Initializing constructor
    {{ composite_type | explicit_decorator(SpecialMethod.INITIALIZING_CONSTRUCTOR_WITH_ALLOCATOR)}}(
    {%- for field in composite_type.fields_except_padding %}
        const _traits_::TypeOf::{{ field | id }}& {{ field | id }},
    {%- endfor %}
        const allocator_type& allocator
    {%- if options.allocator_is_default_constructible %} = allocator_type(){% endif %})
    {%- for field in composite_type.fields_except_padding %}
        {%if loop.first %}: {%else%}, {%endif-%}
        {{ field | id }}{{ field | value_initializer(SpecialMethod.INITIALIZING_CONSTRUCTOR_WITH_ALLOCATOR) }}
    {%- endfor %}
    {
        static_cast<void>(allocator); // avoid unused param warning
    }
    {%- endif %}
    {%- endif %}

    // Copy constructor
    {{composite_type|short_reference_name}}(const {{composite_type|short_reference_name}}&) = default;

    // Copy constructor with allocator
    {{composite_type|short_reference_name}}(const {{composite_type|short_reference_name}}& rhs, const allocator_type& allocator)
    {%- if composite_type.inner_type is UnionType %}
        : union_value{rhs.union_value}
        {%- if not composite_type.bit_length_set.fixed_length %}
        , allocator_{allocator.select_on_container_copy_construction()}
        {%- endif %}
    {%- else %}
    {%- for field in composite_type.fields_except_padding %}
        {%if loop.first %}: {%else%}, {%endif-%}
        {{ field | id }}{{ field | value_initializer(SpecialMethod.COPY_CONSTRUCTOR_WITH_ALLOCATOR) }}
    {%- endfor %}
    {%- endif %}
    {
        static_cast<void>(rhs);       // avoid unused param warning
        static_cast<void>(allocator); // avoid unused param warning
    }

    // Move constructor
    {{composite_type|short_reference_name}}({{composite_type|short_reference_name}}&&) = default;

    // Move constructor with allocator
    {{composite_type|short_reference_name}}({{composite_type|short_reference_name}}&& rhs, const allocator_type& allocator)
    {%- if composite_type.inner_type is UnionType %}
        : union_value{}
        {%- if not composite_type.bit_length_set.fixed_length %}
        , allocator_{allocator.select_on_container_copy_construction()}
        {%- endif %}
    {%- else %}
    {%- for field in composite_type.fields_except_padding %}
        {%if loop.first %}: {%else%}, {%endif-%}
        {{ field | id }}{{ field | value_initializer(SpecialMethod.MOVE_CONSTRUCTOR_WITH_ALLOCATOR) }}
    {%- endfor %}
    {%- endif %}
    {
        static_cast<void>(rhs);       // avoid unused param warning
        static_cast<void>(allocator); // avoid unused param warning
    }

    {% if composite_type.inner_type is UnionType and not composite_type.bit_length_set.fixed_length %}
    // Copy assignment
    {{composite_type|short_reference_name}}& operator=(const {{composite_type|short_reference_name}}& rhs)
    {
        if (this != &rhs)
        {
            nunavut::support::assignInplace(allocator_, rhs.allocator_.select_on_container_copy_construction());
            union_value = rhs.union_value;
        }
        return *this;
    }

    // Move assignment
    {{composite_type|short_reference_name}}& operator=({{composite_type|short_reference_name}}&& rhs)
    {
        nunavut::support::assignInplace(allocator_, rhs.allocator_.select_on_container_copy_construction());
        union_value = std::move(rhs.union_value);
        return *this;
    }
    {% else %}
    // Copy assignment
    {{composite_type|short_reference_name}}& operator=(const {{composite_type|short_reference_name}}&) = default;

    // Move assignment
    {{composite_type|short_reference_name}}& operator=({{composite_type|short_reference_name}}&&) = default;
    {%- endif %}

    // Destructor
    ~{{composite_type|short_reference_name}}() = default;

{%- endif %}

{%- for constant in composite_type.constants %}
    {% if loop.first %}
    // +---------------------------------------------------------------------------------------------------------------+
    // | CONSTANTS
    // +---------------------------------------------------------------------------------------------------------------+
    {% endif -%}
    {{ constant.doc | block_comment('cpp-doxygen', 4, 120) }}
    static constexpr {{ constant.data_type | declaration }} {{ constant.name | id }} = {{ constant | constant_value }};
{%- endfor -%}
{%- if composite_type.inner_type is UnionType -%}
{%- ifuses "std_variant" -%}
{% include '_fields_as_std_variant.j2' %}
{%- else -%}
{%- ifuses "cetl" -%}
{% include '_fields_as_cetl_variant.j2' %}
{%- else -%}
{% include '_fields_as_union.j2' %}
{%- endifuses -%}
{%- endifuses -%}
{%- if options.ctor_convention != ConstructorConvention.DEFAULT %}
{%- if composite_type.inner_type is UnionType and not composite_type.bit_length_set.fixed_length %}
    allocator_type allocator_;
{%- endif %}
{%- endif %}
{%- for field in composite_type.fields_except_padding %}

    bool is_{{field.name|id}}() const
    {
        return VariantType::IndexOf::{{field.name|id}} == union_value.index();
    }
    typename std::add_pointer<_traits_::TypeOf::{{field.name|id}}>::type get_{{field.name|id}}_if()
    {
        return VariantType::get_if<VariantType::IndexOf::{{field.name|id}}>(&union_value);
    }
    typename std::add_pointer<const _traits_::TypeOf::{{field.name|id}}>::type get_{{field.name|id}}_if() const
    {
        return VariantType::get_if<VariantType::IndexOf::{{field.name|id}}>(&union_value);
    }
    typename std::add_lvalue_reference<_traits_::TypeOf::{{field.name|id}}>::type get_{{field.name|id}}()
    {
        {{ assert('is_%s()' | format(field.name|id)) }}
        return *VariantType::get_if<VariantType::IndexOf::{{field.name|id}}>(&union_value);
    }
    typename std::add_lvalue_reference<const _traits_::TypeOf::{{field.name|id}}>::type get_{{field.name|id}}() const
    {
        {{ assert('is_%s()' | format(field.name|id)) }}
        return *VariantType::get_if<VariantType::IndexOf::{{field.name|id}}>(&union_value);
    }
    template<class... Args> typename std::add_lvalue_reference<_traits_::TypeOf::{{field.name|id}}>::type
    set_{{field.name|id}}(Args&&...v)
    {
        {% if options.ctor_convention != ConstructorConvention.DEFAULT
          and composite_type.inner_type is UnionType and not composite_type.bit_length_set.fixed_length %}
        return union_value.emplace<VariantType::IndexOf::{{field.name|id}}>(v..., allocator_);
        {%- else -%}
        return union_value.emplace<VariantType::IndexOf::{{field.name|id}}>(v...);
        {%- endif %}
    }
{%- endfor %}
{%- else -%}
{% include '_fields.j2' %}
{%- endif %}
};

{% if not options.omit_serialization_support %}
inline nunavut::support::SerializeResult serialize(const {{composite_type|short_reference_name}}& obj,
                                                   nunavut::support::bitspan out_buffer)
{
    {% from 'serialization.j2' import serialize -%}
    {{ serialize(composite_type) | trim | remove_blank_lines }}
}

inline nunavut::support::SerializeResult deserialize({{composite_type|short_reference_name}}& obj,
                                                     nunavut::support::const_bitspan in_buffer)
{
    {% from 'deserialization.j2' import deserialize -%}
    {{ deserialize(composite_type) | trim | remove_blank_lines }}
}
{%- endif %}

{#- -#}
