{#-
 # Copyright 2021 Amazon.com, Inc. or its affiliates. All Rights Reserved.
 # Copyright (C) 2021  OpenCyphal Development Team  <opencyphal.org>
 # This software is distributed under the terms of the MIT License.
#}
{%- set ns = namespace(utility = "") -%}
{%- ifuses "cetl" -%}
{%- set ns.utility = "cetl::pf17"%}
{%- else -%}
{%- set ns.utility = "std"%}
{%- endifuses -%}

    class VariantType final : public {{ns.utility}}::variant<
{%- for field in composite_type.fields_except_padding %}
        {{ field.doc | block_comment('cpp-doxygen', 8, 120) }}
        _traits_::TypeOf::{{field.name|id}}{% if not loop.last %},{% endif %}
{%- endfor %}
    >
    {
    public:

        static const constexpr std::size_t variant_npos = {{ns.utility}}::variant_npos;

        using Base = {{ns.utility}}::variant<
{%- for field in composite_type.fields_except_padding %}
            _traits_::TypeOf::{{field.name|id}}{% if not loop.last %},{% endif %}
{%- endfor %}
        >;

        using Base::Base;

        struct IndexOf final
        {
            IndexOf() = delete;
{%- for field in composite_type.fields_except_padding %}
            static constexpr const std::size_t {{ field.name | id }} = {{ loop.index0 }}U;
{%- endfor %}
        };
        static constexpr const std::size_t MAX_INDEX = {{ composite_type.fields_except_padding  | length }}U;

        template<size_t I, typename T>
        struct alternative;

        template<size_t I, typename... Types>
        struct alternative<I, {{ns.utility}}::variant<Types...>> final
        {
            using type = typename {{ns.utility}}::variant_alternative<I, {{ns.utility}}::variant<Types...>>::type;
        };

        template<size_t I, typename T>
        struct alternative<I, const T> final
        {
            using type = std::add_const_t<typename {{ns.utility}}::variant_alternative<I, T>::type>;
        };

        template<std::size_t I, class... Types>
        static constexpr typename alternative<I, {{ns.utility}}::variant<Types...>>::type* get_if({{ns.utility}}::variant<Types...>* v) noexcept
        {
            return {{ns.utility}}::get_if<I, Types...>(v);
        }

        template<std::size_t I, class... Types>
        static constexpr const typename alternative<I, {{ns.utility}}::variant<Types...>>::type* get_if(const {{ns.utility}}::variant<Types...>* v) noexcept
        {
            return {{ns.utility}}::get_if<I, Types...>(v);
        }

    };
