
{ 
    "{{T.full_name}}": {
        "namespace": "{{ T.full_namespace }}",
        "attributes": [
{%- for attribute in T.attributes %}
            { "type": "{{ attribute.data_type }}" }
{%- if not loop.last %},{% endif %}
{%- endfor %}
        ]
    }
}