{% macro generate_type_info(t, attr_name, nested=False) %}
{% set type_tag_id = t | tag_id %}
{% if nested %}
{% set type_tag_id = type_tag_id | add_uuid %}
{% endif %}
<p>
<a
      data-bs-toggle="collapse"
      href="#{{ type_tag_id }}"
      role="button"
      aria-expanded="false"
      aria-controls="{{ type_tag_id }}"
      >+</a>
{% if nested %}
<a href="{{ t | url_from_type }}">
{{ t.full_name }} (v{{t.version[0]}}.{{t.version[1]}}) {{ attr_name }}
</a>
{% else %}
{{ t.full_name }} (v{{t.version[0]}}.{{t.version[1]}}) {{ attr_name }}
{% endif %}
{% if not t | is_service %}
<span style="color: green">[extent {{ t | extent }} bytes]</span>
{% endif %}
{% if t.has_fixed_port_id %}
<span style="color: orange">[fixed port-ID {{ t.fixed_port_id }}]</span>
{% endif %}
</p>
<div class="collapse" id="{{ type_tag_id }}" style="padding-left: 1rem; border-left: 1px solid #AAA;">
    {% if t.doc %}
    <pre>{{ t.doc }}</pre>
    {% endif %}
    {% if t.attributes | length == 0 %}
    <p>(data type is empty)</p>
    {% else %}
    {% for attr in t.attributes %}
    {% if attr.data_type | is_composite %}
    {{ generate_type_info(attr.data_type, attr.name, True) }}
    {% else %}
    <p class="mb-0">
    {{ attr }}
    {% if attr | is_field %}
    <span style="color: green">[extent {{ attr.data_type | extent }} bytes]</span>
    {% endif %}
    </p>
    {% endif %}
    <pre>{{ attr.doc }}</pre>
    {% endfor %}
    {% endif %}
</div>
{% endmacro %}

{% macro generate_namespace_info(t) %}
<p>
<a
      data-bs-toggle="collapse"
      href="#{{ t.full_name.replace(".", "_") }}"
      role="button"
      aria-expanded="false"
      aria-controls="{{ t.full_name.replace(".", "_") }}"
      >+</a>
{{ t.full_name }}
</p>
<div class="collapse" id="{{ t.full_name.replace(".", "_") }}" style="padding-left: 1rem; border-left: 1px solid #AAA;">
    {% for type, _ in t.get_nested_types() %}
    {{ generate_type_info(type, "") }}
    {% endfor %}
    {% for type in t.get_nested_namespaces() %}
    {{ generate_namespace_info(type) }}
    {% endfor %}
</div>
{% endmacro %}

<!DOCTYPE html>
<html>
    <head>
        <title>{{ T.full_name }}</title>
        <style>
        .row {
            display: flex;
            flex-direction: row;
        }

        .py-2 {
            padding-top: 2rem;
            padding-bottom: 2rem;
        }

        pre {
            font-family:
            -apple-system,
            BlinkMacSystemFont,
            "Segoe UI",
            "Roboto",
            "Helvetica Neue", Arial, sans-serif,
            "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
        }
        </style>
        <!-- Bootstrap-->
        <style>
        {% include "assets/bootstrap.min.css" %}
        </style>
        <script>
        {% include "assets/bootstrap.bundle.min.js" %}
        </script>
    </head>
    <body>
        <div style="padding: 2rem;">
            {{ generate_namespace_info(T) }}
        </div>
        <script>
            function showCollapse(collapse) {
                collapse.classList.add("show");
                console.log(collapse);
                if (collapse.parentNode != null && collapse.classList.contains("collapse")) {
                    showCollapse(collapse.parentNode);
                }
            }

            if (window.location.hash != null && window.location.hash != "") {
                const collapse = document.querySelector(window.location.hash);
                showCollapse(collapse);
            }
        </script>
    </body>
</html>
