
lang_any = {
    'id_0' : '{{ "123 class  for u2   (*other_stuff-&-such)" | id }}',
    'id_1' : '{{ "_Reserved" | id }}',
    'id_2' : '{{ "__also reserved" | id }}',
    'id_3' : '{{ "register" | id }}',
    'id_4' : '{{ "False" | id }}',
    'id_5' : '{{ "return" | id }}',
    'id_7' : '{{ "I \u2764 Cyphal" | id }}',
    'id_8' : '{{ "1 \u2764 Cyphal" | id }}',
    'id_9' : '{{ "str" | id }}',
    'id_A' : '{{ "strr" | id }}',
    'id_B' : '{{ "UINT_FOO_MIN" | id('macro') }}',
    'id_C' : '{{ "INT_C" | id }}',
    'id_D' : '{{ "LC_Is_reserved" | id('function') }}',
    'id_E' : '{{ "NOT_ATOMIC_YO" | id('macro') }}',
    'id_F' : '{{ "ATOMIC_YO" | id('macro') }}',
    'id_G' : '{{ "memory_order_yo" | id('enum') }}'
}
