
lang_any = {
    'id_0' : '{{ "123 class  for u2   (*other_stuff-&-such)" | id }}',
    'id_1' : '{{ "_Reserved" | id }}',
    'id_2' : '{{ "__also reserved" | id }}',
    'id_3' : '{{ "register" | id }}',
    'id_4' : '{{ "False" | id }}',
    'id_5' : '{{ "return" | id }}',
    'id_6' : '{{ "return" | id(":poop:") }}',
    'id_7' : '{{ "I \u2764 UAVCAN" | id }}',
    'id_8' : '{{ "I \u2764 UAVCAN" | id(encoding_prefix="0x") }}',
    'id_9' : '{{ "str" | id }}',
    'id_A' : '{{ "strr" | id }}',
    'id_B' : '{{ "UINT_FOO_MIN" | id }}',
    'id_C' : '{{ "INT_C" | id }}',
    'id_D' : '{{ "LC_Is_reserved" | id }}',
    'id_E' : '{{ "NOT_ATOMIC_YO" | id }}',
    'id_F' : '{{ "ATOMIC_YO" | id }}'
}
