{
{%- ifuses "variant" %}
    "ifuses_variant": true,
    "never": false,
{%- elifnuses "variant" %}
    "ifuses_variant": false,
    "never": false,
{%- else %}
    "never": true,
{%- endifuses -%}
{%- ifnuses "variant" %}
    "ifnuses_variant": true
{%- else %}
    "ifnuses_variant": false
{%- endifnuses %}
}
