name: Release to Pypi

on:
  release:
    types: [ published ]

jobs:
  release:
    if: ${{ github.event_name == 'release' && !github.event.release.prerelease }}
    runs-on: ubuntu-latest
    container: ghcr.io/opencyphal/toxic:tx22.4.3
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: true
    - name: setup nox
      run: pip install nox
    - name: version-check
      # Fails the release if the release-tag doesn't match the Nunavut version at that tag.
      run: |
        python3 ./src/nunavut/_version.py -v --fail-on-mismatch --tag=${{ github.ref }}
    - name: lint
      run: nox -s lint
    - name: test-nnvg
      run: nox -s nnvg-3.11
    - name: test-doctest
      run: nox -s doctest-3.11 rstdoctest-3.11
    - name: test-pytest
      run: nox -s test-3.11
    - name: package
      run: nox -s package
    - name: upload
      run: |
        pip3 install twine
        twine upload -u __token__ -p ${{ secrets.PYPI_PASSWORD }} .nox/package/tmp/dist/*
